                <div *ngIf="errorMessage" class="alert alert-danger">
                {{ errorMessage }}
                </div>
                <form action="" [formGroup]="adminForm" (ngSubmit)="onSubmit()">
                <label for="">Email</label>
                <input type="mailto" class="form-control" formControlName="email">
                <div *ngIf=" submitted && f2['email'].errors">
                <span class="text-danger" *ngIf="f2['email'].errors['required']">email est oblogatoire</span>

                </div>
                
                    <label for="">Nom Complet</label>
                        <input type="text" class="form-control" formControlName="nomComplet">
                        <div *ngIf="submitted && f2['nomComplet'].errors">
                <span class="text-danger" *ngIf="f2['nomComplet'].errors['required']">nom est oblogatoire</span>
                </div>
                <label for="">Téléphone</label>
                        <input type="text" class="form-control" formControlName="tel">
                        <div *ngIf="submitted && f2['tel'].errors">
                <span class="text-danger" *ngIf="f2['tel'].errors['required']">tel est oblogatoire</span>
                </div>
                <label for="">Password</label>
                        <input type="text" class="form-control" formControlName="password">
                        <div *ngIf="submitted && f2['password'].errors">
                <span class="text-danger" *ngIf="f2['password'].errors['required']">password est oblogatoire</span>
                </div>
                 
                    <label for="niveau">Niveau :</label>
                    <select id="niveau" class="form-control" formControlName="niveau" required>
                    <option value="">-- Sélectionner un niveau --</option>
                    <option value="0">Super Admin</option>
                    <option value="1">Admin Simple</option>
                    <option value="2">Moderateur</option>
                    </select>
                <div *ngIf="submitted && f2['niveau'].errors">
                <span class="text-danger" *ngIf="f2['niveau'].errors['required']">niveau est oblogatoire</span>
                </div>
                        <button class="btn btn-primary" type="submit">{{ this.id ? "update" : "Save"}}</button>         
                </form>