<!-- admin-dashboard.component.html -->
 

<!-- Sidebar -->
<div class="sidebar">
  <!-- Tableau de bord -->
  <div class="nav-item" routerLink="/admin/acceuilAdmin" routerLinkActive="active" >
    <a>
      <span class="icon">🏠</span>
      <span>Dashboard</span>
    </a>
  </div>
   <!-- Parametre -->
  <div class="nav-item" routerLink="" routerLinkActive="active">
    <a>
      <span class="icon">📅</span>
      <span>Parametres</span>
    </a>
  </div>

  <!-- Profil -->
  <div class="nav-item" routerLink="" routerLinkActive="active">
    <a>
      <span class="icon">👤</span>
      <span>Profil</span>
    </a>
  </div>
  <button class="btn-logout" (click)="logout()">
      <span class="logout-icon">🚪</span>
      Déconnexion
    </button>
</div>
<div class="container mt-4">
  <router-outlet></router-outlet>
</div>
<!-- Footer -->
  <div class="footer">
    <p>© 2025 Circuit Court | Plateforme de vente directe producteurs | Soutenez les agriculteurs locaux</p>
  </div>

