<div class="auth-container" [class.sign-up-mode]="isSignUpMode">
  <!-- Partie gauche (connexion / inscription) -->
  <div class="forms-container">
    <div class="signin-signup">

      <!-- Formulaire de connexion -->
      <form [formGroup]="loginForm" class="sign-in-form" (ngSubmit)="login()">
        <h2 class="title">Se connecter</h2>

        <div class="mb-3">
      <label>Email</label>
      <input type="email" class="form-control" formControlName="email">
      <div *ngIf="submitted && f['email'].errors" class="text-danger">
        Email invalide
      </div>
    </div>

       <div class="mb-3">
      <label>Mot de passe</label>
      <input type="password" class="form-control" formControlName="password">
      <div *ngIf="submitted && f['password'].errors" class="text-danger">
        Mot de passe obligatoire (min 5 caractères).
      </div>
    </div>

        <button type="submit" class="btn solid">Connexion</button>

      </form>
</div>
